@using Liments.MVC.Models
@model IEnumerable<PostViewModel>


@foreach (var item in Model)
{
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <a asp-controller="Profile" asp-action="Index" asp-route-user="@item.Author" class="card-link">
                            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                        </a>
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">
                            <a asp-controller="Profile" asp-action="Index" asp-route-user="@item.Author" class="card-link">
                                <p style="color:black">@item.Author</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="form-row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <img class="rounded" style="width:100%" src="https://picsum.photos/50/50" alt="">
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Content</p>
                </div>
            </div>

            <div class="text-muted h7 mt-2">@item.PostedAt</div>
        </div>
        <div class="card-footer">
            <div id="@("PostsFooter" + item.Id)">
                @{ await Html.RenderPartialAsync("_PostsFooter", item); }
            </div>
        </div>
    </div>

}


