@using Liments.MVC.Models
@model PostViewModel

<div style="font-size: 24px;">
    <a asp-action="Like" asp-controller="Posts" asp-route-id="@Model.Id" data-ajax="true" data-ajax-update="@("#PostsFooter" + Model.Id)" class="card-link">
        @if (Model.Likes.Any(l => l.UserName == User.Identity.Name))
        {
            <i class="fas fa-heart"></i>
        }
        else
        {
            <i class="far fa-heart"></i>
        }
    </a>
    <a href="@("#CommentDialog" + Model.Id)" data-toggle="modal" class="card-link"><i class="fas fa-comment"></i></a>
</div>
@if (Model.Likes.Count > 0)
{
    <div class="mt-2">
        <a href="@("#LikesDialog" + Model.Id)" data-toggle="modal" class="card-link">
            @Model.Likes.Count likes
        </a>
    </div>
    <div class="modal fade" id=@("LikesDialog" + Model.Id) role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Likes</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @foreach (var like in Model.Likes)
                    {
                        <div class="row ml-3 mb-3">
                            <div class="col pl-0">
                                <span>
                                    <a asp-controller="Profile" asp-action="Index" asp-route-user="@like.UserName" class="card-link">
                                        <img class="rounded-circle mr-2" width="45" src="https://picsum.photos/50/50" alt="">

                                        <span style="color:black">@like.UserName</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Comments.Count > 0)
{
    <div class="mt-2">
        <a href="@("#CommentDialog" + Model.Id)" data-toggle="modal" class="card-link">
            View all @Model.Comments.Count comments
        </a>
    </div>
}
<div class="modal fade" id=@("CommentDialog" + Model.Id) role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Comments</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @foreach (var comment in Model.Comments)
                {
                    <div class="container ml-3 mb-4">
                        <div class="row">
                            <div class="col pl-0">
                                <span>
                                    <a asp-controller="Profile" asp-action="Index" asp-route-user="@comment.Author" class="card-link">
                                        <img class="rounded-circle mr-2" width="45" src="https://picsum.photos/50/50" alt="">

                                        <span style="color:black;font-weight:bold">@comment.Author:  </span>
                                    </a>
                                    <span>@comment.Content</span>
                                </span>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col pl-0">
                                <span>
                                    <small class="text-muted">@comment.PostedAt</small>
                                    @*<button type="button" class="close float-right">&times;</button>*@
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer d-block">
                <div class="container-fluid pr-0 pl-0">
                    <form asp-action="AddComment" asp-controller="Posts" asp-route-id="@Model.Id" data-ajax="true" 
                          data-ajax-complete="refreshCommentDialog('@Model.Id')" data-ajax-update="@("#PostsFooter" + Model.Id)">
                        <div class="form-row">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                                <img class="rounded-circle img-fluid" src="https://picsum.photos/50/50" alt="">
                            </div>
                            <div class="col-8 col-sm-8 col-md-8 col-lg-10">
                                <textarea name="content" class="form-control" type="textarea" placeholder="Comment"></textarea>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                                <input type="submit" class="btn btn-primary btn-sm btn-block" value="Send" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function refreshCommentDialog(postId) {
        $('#CommentDialog' + postId).modal('hide');
        $('.modal-backdrop').remove();
        $('#CommentDialog' + postId).modal();
}
</script>